# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
!debug.keystore
credentials.json

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
# android build outputs & caches (track source, ignore builds)
android/.gradle/
android/.idea/
android/.kotlin/
android/build/
android/app/build/
android/.cxx/
android/local.properties

# Build artifacts & dumps
*.apk
*.aab
*.so
dump.xml
.idea/
*.log

# Android bundling outputs & assets
android/app/src/main/assets/index.android.bundle*
android/app/src/main/res/raw/
android/app/src/main/res/drawable-*/node_modules_*
android/app/src/main/res/drawable-*/assets_*

